.dinner-reservation-page {
    .title {
        font-size: rem(24px);
        font-weight: bold;
        margin: rem(40px) 0;
    }
    .dinner-reservation-list {
        width: 100%;
        margin-bottom: rem(40px);
    }
}

.order-wrapper {
    .order-name {
        margin-right: rem(10px);
    }
}