.select-meal-wrapper {}

.meal-description-wrapper {
    position: absolute;
    width: 40%;
    min-width: rem(760px);
    z-index: 1;
    top: 44px;
    bottom: 0;
    right: 0;
    &.menu-item-additional-style {
        padding: 25px 50px;
        background-color: pink;
    }
    .dinner-reservation-side-hero {
        background: url('../../imgs/dinner_reservation.jpeg') no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
}

.meal-image {
    margin-bottom: rem(15px);
    max-width: 600px;
    >img {
        width: 100%;
    }
}

.information-header,
.description {
    margin-bottom: rem(25px);
}

.information-header {
    font-size: 26px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    color: #5a5a5a;
}

.additional-meal-information {
    font-size: 20px;
}

.additional-info-wrapper {
    .icon {
        margin-right: 10px;
        >img {
            width: 100%;
        }
        width: 35px;
    }
}