// Colors
$clr1:#000000;
$clr2:#FFFFFF;
$clr3:#F2F2F2;
$clr4:#C6C6C6;
$clr5:#3C3C41;
$clr6:#EBEBEB;
$clr7:#F0F0F0;
$clr8:#75757A;
$clr9:#2f5fef;
$clr10:#999999;
$clr11:#222;
$clr12:rgb(0, 162, 255);
$clr13:rgba( 34, 34, 34, 0.8);
$error_clr: red;
$green: #04AA6D;
$clr14: #007fff;
$clr15: #AAA8B1;
$clr16: #85838c;
$error_background_clr: #fce4e4;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 960px;
$small-laptop-breakpoint: 1024px;
// Fonts
$regular-font: Segoe_UI_Regular;
$light-font: Segoe_UI_Light;
$light-font-gray-shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.132),
0px 0.6px 1.8px rgba(0, 0, 0, 0.108);
$default-border-radius: 5px;
$navbar-height: 51px;
$breadcrumb-container-height: 50px;